<div class="card">
  <div class="card-image">
      <a href="{% url 'book:single_book' book.id %}">
        <img src="{{book.cover_url}}" alt="{{book.title}}">
      </a>
      
  </div>
  <div class="card-info">
      <h2>{{book.title}}</h2>
      <h3>{{book.author}}</h3>
      <p>{{book.category.all.0}}</p>
      <p>{{book.publish_date}}</p>
      <div class="price">
          <span>R$ {{book.price}}</span>
      </div>
  </div>
  <div class="card-action">
      <button>COMPRAR</button>
  </div>
</div>