<header class="header">
  <div class="header-container">
    <div class="logo">
      <a href="{% url 'book:index' %}">
        <h1>Página virada</h1>
      </a>
      
    </div>
    <form action="{% url 'book:search' %}" class="search-bar" method="GET">
      <select name="selected_filter">
        <option value="title">Livro</option>
        <option value="author">Autor</option>
        <option value="category">Categoria</option>
      </select>
      <input type="text" placeholder="Buscar" id="search" name="q" />
    </form>
    <div>
      {% if user.is_authenticated %}
        <p>{{user}}</p>

      {% else %}
        <a href="">Login</a>
      
      {% endif %}
      
    </div>
    
  </div>
</header>
