* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  
  
}

.header {
  background-color: #0097a7;
  width: 100%;
  margin-bottom: 80px;
}
.header-container{
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.container{
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas de tamanho igual */
  gap: 20px; /* Espaçamento entre os livros */
  padding: 20px; /* Espaçamento interno da container */

}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 20px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.search-bar select {
  border-radius: 4px 0 0 4px;
  background: #fff !important;
  border: none;
  border-right: 1px solid #f0f0f0 !important;
  color: #06a2af !important;
  font-size: 12px;
  padding: 12px 30px 11px 10px;
  white-space: normal;
  
}

.search-bar input {
  width: 100%;
  height: 41px;
  padding-left: 20px;
  font-size: 16px;
  color: #495057

}


/* CAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARD */


.card {
  background-color: white;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 16px;
}

.card-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-info {
  margin-top: 16px;
}

.card-info h2 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.card-info h3 {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
}

.card-info p {
  font-size: 12px;
  color: #999;
  margin-top: 4px;
}

.price {
  margin-top: 12px;
}

.price span {
  font-size: 18px;
  font-weight: bold;
  color: #00bfa5;
}

.price p {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}

.card-action {
  margin-top: 16px;
}

.card-action button {
  width: 100%;
  padding: 10px 0;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.card-action button:hover {
  background-color: #e68900;
}



/* Pagina UNICA */


.book-container{
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}
.book-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}


