{% extends "global/base.html" %}

{% block content %}
<div class="book-container">
  <div class="book-details">
    <div class="book-sidebar">
      <img src="https://placehold.co/200x300" alt="Capa do Livro" class="book-cover">
      <div class="book-price">
        <span class="price">R$ 50.00</span>
        <button class="add-to-cart">Adicionar ao carrinho</button>
      </div>
    </div>
      
      
      <div class="info">
          <h1 class="title">Lorem ipsum dolor sit amet.</h1>
          <p class="year">Ano: 2024</p>
          <p class="author">Autor: Nome do Autor</p>
          <p class="publisher">Editora: Nome da editora</p>
          <p class="category">Categorias: Ficção,Aventura</p>
          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, molestias quidem exercitationem repellendus ipsum saepe numquam fuga odio assumenda officiis eligendi excepturi iste sed libero aspernatur nisi commodi praesentium hic! Laboriosam, numquam! Debitis voluptas ipsam quo beatae dolores corrupti modi.</p>
          <p class="pages">Paginas: 350</p>
          
      </div>
  </div>
  
</div>


{% endblock content %}